<h4 class="ui left aligned icon header">
  <h1 class="ui title">Welcome to Message Me</h1>
</h4>

<div class="ui divider"></div>

<div class="ui two column grid">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot fu</em>: Test message
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Elliot fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Elliot fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form action="" class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter your message...">
              <i class="bordered inverted blue send icon circular"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui vertical menu">
      <a href="" class="active item">
        Home
      </a>
      <a href="" class="item">
        Messages
      </a>
      <a href="" class="item">
        Friends
      </a>
    </div>
  </div>
</div>