<div class="ui image item">
  <img src="logo.png" alt="logo" />
</div>
<a class="active item">
  CHATROOMS
</a>
<a href="" class="item">
  MESSAGES
</a>
<div class="right menu">
  <div class="ui dropdown item">
    ACCOUNT <i class="dropdown icon"></i>
    <div class="menu">
      <a href="" class="item">Sign Out</a>
      <a href="" class="item">Sign In</a>
      <a href="" class="item">Sign Up</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary square button">SIGN UP</div>
  </div>
</div>