<div class="item">
  <%= image_tag "logo.png" %>
</div>
<%= link_to "CHATROOMS", root_path, class: "active item" %>
<a href="" class="item">
  MESSAGES
</a>
<div class="right menu">
  <div class="ui dropdown item">
    ACCOUNT <i class="dropdown icon"></i>
    <div class="menu">
      <a href="" class="item">Sign Out</a>
      <%= link_to "Sign In", login_path, class: "item" %>
      <a href="" class="item">Sign Up</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary square button">SIGN UP</div>
  </div>
</div>